# User verification

**ID:** 949106
**Created At:** 2025-01-16T16:21:11+00:00
**Source:** https://codeberg.org/introspector/SOLFUNMEME/issues/8

---

Post your telegram, discord, SOLFUNMEME wallet address and name here for verification.

The Introspector DAO will communicate only with token holders. We will sign our social media accounts with our wallets. We will prevent spammers and fake accounts via bots that verify these credentials.